/*    navigation start     */
.up-nav {
  width: 100%;
  height: auto;
  line-height: 100px;
  background-color: #faf9f5;
  font-size: 30px;
  font-family: "Cochin";
}

.up-nav .warp {
  width: 1500px;
  margin: 0 auto;
}

.up-nav .left-bottom {
  position: absolute;
  left: 250px;
  top: 260px;
  font-size: 120px;
}

.up-nav .warp .up-nav-left {
  float: left;
}

.up-nav .warp .up-nav-right {
  float: right;
}

.up-nav .warp li {
  float: left;
}


.up-nav .warp li span {
  color: #C81623;
  margin: 0 40px;
}

/*    navigation end      */

.down-nav {
  width: 100%;
  height: auto;
  background-color: #f6efe1;
  margin: 0 auto;
}

.box li{
  float: left;
  width: 50%;
  height: 300px;
  background-color: #f6efe1;
}

.box .dot{
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 65%;
  position: relative;
  top: 150px;
  left: 50px;
  transform: scale(2);
}

.box .a{
  background-color: #faf9f5;
}

.box img{
  position: relative;
  left: 150px;
  top: 50px;
}

.box textarea{
  position: relative;
  left: 200px;
  font-size: 20px;
  top: 100px;
  border: none;
  background-color:#f6efe1 ;

}

.box .a textarea{
  background-color: #faf9f5;
}

